<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:cache="http://www.springframework.org/schema/cache" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd 
		http://www.springframework.org/schema/cache 
		http://www.springframework.org/schema/cache/spring-cache.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/security 
		http://www.springframework.org/schema/security/spring-security.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">
     
		<!--  開啟tomcat預設"/"配置器(支援靜態網頁) --> 
		<mvc:default-servlet-handler />
		 
		<!--  開啟tomcat annotation功能，新版spring預設為開啟 --> 
		<context:annotation-config /> 
		
		<!-- 
	 	        通知spring需要管理那些package下的類別 
	 		@Controller	(controller)
			@Service	(service)
			@Repository	(dao)
			@Component	(util)
  		-->   
  		<context:component-scan base-package="com.employee.controller" /> 

		<!--  開啟spring對mvc的annotation功能  --> 
  		<mvc:annotation-driven /> 

		<!-- 配置前輟及後輟字 -->
   		<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	 		<property name="prefix" value="/jsp/" />
	 		<property name="suffix" value=".jsp" />
		</bean>

		<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
			<!-- 設置檔案上傳最大值1MB -->
			<property name="maxUploadSize">
				<value>1048576</value>
			</property>
		</bean>
 
</beans>